<div class="demo-header">
  <div class="demo-header-content">
    <div class="container">
      <h1>Build Without Code</h1>
      <hr class="colored">
      <p>Discover resources to create websites without coding</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row content-row">
    <div class="col-md-4">
      <div class="preview-pane">
        <%= link_to category_path("portfolios") do %>
          <img src="/assets/screenshot-agency.png" class="img-responsive img-centered" alt="">
          <h3>Build a Portfolio Website</h3>
          <hr class="colored">
          <p class="text-muted">Ideal For:</p>
          <ul class="list-unstyled text-muted">
            <li>
              <em>Designers</em>
            </li>
            <li>
              <em>Artists</em>
            </li>
            <li>
              <em>Musicians</em>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="preview-pane">
        <%= link_to category_path("e-commerce") do %>
          <img src="/assets/screenshot-creative.png" class="img-responsive img-centered" alt="">
          <h3>Build an eCommerce Website</h3>
          <hr class="colored">
          <p class="text-muted">Ideal For:</p>
          <ul class="list-unstyled text-muted">
            <li>
              <em>Online Stores</em>
            </li>
            <li>
              <em>Something</em>
            </li>
            <li>
              <em>Something</em>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="preview-pane">
        <%= link_to category_path("brick-and-mortar") do %>
          <img src="/assets/screenshot-culinary.png" class="img-responsive img-centered" alt="">
          <h3>Build a Website for a Brick and Mortar Store</h3>
          <hr class="colored">
          <p class="text-muted">Ideal For:</p>
          <ul class="list-unstyled text-muted">
            <li>
              <em>Restaurants</em>
            </li>
            <li>
              <em>Doctors</em>
            </li>
            <li>
              <em>Something</em>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="preview-pane">
        <%= link_to category_path("mobile") do %>
          <img src="/assets/screenshot-fashion.png" class="img-responsive img-centered" alt="">
          <h3>Build a Mobile App or Website</h3>
          <hr class="colored">
          <p class="text-muted">Ideal For:</p>
          <ul class="list-unstyled text-muted">
            <li>
              <em>Iphone Apps</em>
            </li>
            <li>
              <em>Android Apps</em>
            </li>
            <li>
              <em>Responsive Websites</em>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="preview-pane">
        <%= link_to category_path("fooo") do %>
          <img src="/assets/screenshot-legal.png" class="img-responsive img-centered" alt="">
          <h3>Legal</h3>
          <hr class="colored">
          <p class="text-muted">Ideal For:</p>
          <ul class="list-unstyled text-muted">
            <li>
              <em>Lawyers</em>
            </li>
            <li>
              <em>Law Firms</em>
            </li>
            <li>
              <em>Consultants</em>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="preview-pane">
        <%= link_to category_path("fooo") do %>
          <img src="/assets/screenshot-video.png" class="img-responsive img-centered" alt="">
          <h3>Video</h3>
          <hr class="colored">
          <p class="text-muted">
            <em>An example of the agency theme with a video background for the header. A video background can be applied to any other theme!</em>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
