<div class="listings">
  <h3 class="categories">Categories</h3>
  <div class="recommendations">
    <%= link_to "Portfolios", category_path("portfolios") %>
    <%= link_to "E-commerce", category_path("e-commerce") %>
    <%= link_to "Brick & Mortar", category_path("brick-and-mortar") %>
    <%= link_to "Mobile Apps", category_path("mobile") %>
    <%= link_to "Blogs", category_path("blogs") %>
    <%= link_to "Subscription", category_path("subscription_ecommerce") %>
  </div>
</div>